<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Pessoas cadastradas</title>
        <link rel="stylesheet" type="text/css" href="estilo.css"/>
    </h:head>
    <h:body> 


        <div id="central">
            <h:form>
                <h:outputText value="Pessoas cadastradas"/>
                <br></br>
                <br><h:dataTable value="#{gerenciadorPessoa.pessoas}" var="p" border="1">

                        <h:column id="column1">
                            <f:facet name="header">
                                <h:outputLabel for="nome" value ="Nome da pessoa"/>
                            </f:facet>
                            <h:inputText id="nome" value ="#{p.nome}"/>       
                        </h:column>

                        <h:column id="column2">
                            <f:facet name="header">
                                <h:outputLabel for="cpf" value ="CPF"/>
                            </f:facet>
                            <h:inputText id="cpf" value ="#{p.cpf}"/>       
                        </h:column>

                        <h:column id="column3">
                            <f:facet name="header">
                                <h:outputText value ="Excluir"/>
                            </f:facet>
                            <h:commandButton id="excluir" value="Excluir" action="#{gerenciadorPessoa.deletar(p)}"/>
                        </h:column>
                        
                        <h:column id="column4">
                            <f:facet name="header">
                                <h:outputText value ="Atualizar"/>
                            </f:facet>
                            <h:commandButton id="atualizar" value="Atualizar" action="#{gerenciadorPessoa.atualizaDados(p)}"/> 
                        </h:column>
                        
                    </h:dataTable></br>
                <h:commandButton id="voltar" value="Voltar" action="index"/> 
            </h:form>
        </div>
    </h:body>
</html>

