<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Atividade JSF</title>
        <link rel="stylesheet" type="text/css" href="estilo.css"/>
    </h:head>
    <h:body>

        <f:view>
            <h:form>
                
                <div id="central">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <h:outputText value="Informe os dados"/>

                    <h:panelGrid columns="2"> 

                        <h:outputLabel for="nome" value="Nome:"/>       
                        <h:inputText id="nome" value="#{gerenciadorPessoa.pessoa.nome}"/>
                        <h:outputLabel for="cpf" value="Cpf: "/>
                        <h:inputText id="cpf" value="#{gerenciadorPessoa.pessoa.cpf}"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <h:commandButton id="salvar" value="Salvar" action="#{gerenciadorPessoa.salvar}"/>

                        <br></br>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <h:commandButton id="lista" value="Exibir pessoas cadastradas" action="cadastradas"/>
                    </h:panelGrid>
                </div>
            </h:form>
        </f:view>

    </h:body>
</html>

